# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
dist/
build/

# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

# Env
.env
.env.*
